 <div class="row">
    <div class="col-md-12" ng-show="cities.length > 0">
    
    <nav class= "navbar navbar-default" role= "navigation" >
    <div class= "navbar-header" >
    <a class="btn btn-lg btn-success" href="#/edit-city/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add new City</a>
    </div>
    </nav>
        <table class="table table-striped table-bordered">
        <thead>
        <th>Id&nbsp;</th>
        <th>Name city &nbsp;</th>
        <th>CEP&nbsp;</th>
        <th>Created&nbsp;</th>
        </thead>
        <tbody>
            <tr ng-repeat="data in cities">
                <td>{{data.id}}</td>
                <td>{{data.name}}</td>
                <td>{{data.cep}}</td>
                <td>{{data.created}}</td>
                <td><a href="#/edit-city/{{data.id}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; Edit City</a></td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col-md-12" ng-show="cities.length == 0">
        <div class="col-md-12">
            <h4>No cities found</h4>
        </div>
    </div>
</div>